.hero-channels {
    background-color: #118AB2;
}

.container-channels h2 {
    margin-top: 30px;
}

.list-channel-items {
    display: flex;
    flex-wrap: wrap;
}

.btn-switch {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 4px;
    color: white;
    width: auto;
    background-color: transparent;
    border: none;

    transition: color 0.25s;
}

.btn-add:hover {
    color: #06D6A0;
}

.btn-close-form:hover {
    color: #D36060;
}

