body {
    background-color: #118AB2;
}

.channels-hero {
    background-color: #212529;
    width: 50%;
    margin: 30px auto;
    font-size: 1.5rem;
    padding: 30px 30px;
    border-radius: 10px;
}

.channels-hero h2 {
    color: white;
    padding: 35px 0;
    margin-top: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.channel-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.btn-switch {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 4px;
    color: white;
    width: auto;
    background-color: transparent;

    transition: color 0.25s;
}

.btn-add:hover {
    color: #06D6A0;
}

.btn-close-form:hover {
    color: #D36060;
}