.new-channel-form {
    color: white;
    width: 75%;
    margin: auto;
}

.new-channel-form div {
    margin-top: 30px;
}

.new-channel-form input {
    font-size: 1.3rem;
}

@media screen and (max-width: 1200px) {
    .new-channel-form {
        width: 100%;
    }
}