.home-main {
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.home-main h1 {
    padding: 25px 0;
    letter-spacing: 5px;
    height: 15%;
    margin-bottom: 0;
}

.current-user-username {
    color: orangered;
    font-weight: bold;
}

.link-to-signup {
    background-color: #157A6E;
}

.link-to-signin {
    background-color:mediumvioletred;
}

.home-main > .presentation-row:nth-child(2n) .presentation-item:not(.presentation-long) {
    order: 2;
}

.home-main > .presentation-row:nth-child(2n) .presentation-item:not(.presentation-short) {
    order: 1;
}

.home-main > .presentation-row:nth-child(2n+1) .presentation-item:not(.presentation-long) {
    order: 1;
}

.home-main > .presentation-row:nth-child(2n+1) .presentation-item:not(.presentation-short) {
    order: 2;
}

.container-navigation-buttons {
    height: 15%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.container-navigation-buttons a {
    color: white;
    text-decoration: none;
    text-shadow: none;
}

.presentation-row {
    display: flex;
    height: 22%;
}

.presentation-item {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.presentation-item > * {
    margin: 0;
}

.presentation-item p {
    text-align: center;
    padding: 0 15%;
}

.presentation-short {
    font-size: 2.9rem;
    background-color: #2E86AB;
    color: white;
}

.presentation-long {
    font-size: 1.3rem;
    font-style: italic;
}

.footer {
    padding: 10px 0;
}

.footer p {
    margin-bottom: 0;
}

@media screen and (max-width: 992px) {
    .presentation-row {
        flex-direction: column;
    }
    
    .home-main > .presentation-row:nth-child(2n) .presentation-item:not(.presentation-long) {
        order: 1;
    }
    
    .home-main > .presentation-row:nth-child(2n) .presentation-item:not(.presentation-short) {
        order: 2;
    }
}