.list-summary-item {
    border: 1px solid white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #DCD6F7;
    color: black;
}

.list-summary-item-header {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.list-summary-item-header-author {
    color: orangered;
    font-weight: bold;
}

.list-summary-item-header-video-title {
    color: #119b98;
    font-weight: bold;
}

.list-summary-item-header-video-source {
    color: #9c4b87;
    font-weight: bold;
}

.list-summary-item-title {
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: 4px;
}

.list-summary-item-body {
    text-align: justify;
}

.btn-show-more {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    color: var(--bs-blue);
}

.list-summary-item-updoot {
    text-align: left;
    font-size: 1.2rem;
}

.btn-updoot {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    margin-top: 15px;
    padding: 7px 20px;
    border-radius: 10px;
}

.btn-updoot i {
    margin-right: 5px;
}

.btn-updoot:hover {
    background-color: #912F40;
    color: white;
    border: 1px solid #912F40;
}

.btn-updooted {
    background-color: transparent;
    border: none;
    margin-top: 15px;
    padding: 7px 10px 7px 20px;
}

.btn-updooted i {
    color: #912F40;
    transform: scale(1.5);
}

.btn-updooted i:hover {
    color: rgb(90, 90, 90);
    transform: scale(1.5);
}

.updoot-count {
    color: #212529;
    padding: 0 10px;
    font-weight: bold;
}

.btn-updooted + .updoot-count {
    color: green;
}