.list-summary-item {
    border: 1px solid white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.list-summary-item-header {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.list-summary-item-header-author {
    color: orangered;
    font-weight: bold;
}

.list-summary-item-header-source {
    color: rgb(173, 14, 173);
    font-weight: bold;
}

.list-summary-item-title {
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: 4px;
}

.list-summary-item-body {
    text-align: justify;
}