.channel-list-item {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    background-color: #AED4E6;
    padding: 5px 10px;
    font-weight: 600;
    margin: 0 15px;
    border-radius: 6px;

    transition: background-color 0.15s, color 0.15s;
}

.channel-list-item:hover {
    color: white;
    background-color: #D56F3E;
    cursor: pointer;
}

.channel-list-item-remove-btn {
    display: none;
    margin-left: 5px;
    color: crimson;
}

.channel-list-item:hover > .channel-list-item-remove-btn {
    display: inline;
}