@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Global styles */

html {
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
    --bp-xlg: 1200px;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins",  sans-serif;
}

h1, h2, h3, h4, p, div {
    text-align: center;
}

input, textarea {
    display: block;
}

#root {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -2; 
}

/* -- Common -- */

/* Pages */

.hero-default {
    height: calc(100% - 78px);
    width: 100%;
    padding: 10px 15px;
}

.container-default {
    width: 50%;
    max-height: 100%;
    margin: auto;
    overflow-y: auto;
    background-color: transparent;
    font-size: 1.5rem;
    padding: 30px 30px;
    border-radius: 10px;
}

.hero-default::-webkit-scrollbar {
    display: none;
}

.hero-default {
    -ms-overflow-style: none;
    scrollbar-width: none;
} 

.container-default h2 {
    color: white;
    padding: 35px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.list-items {
    margin-top: 30px;
    max-height: 100%;
    color: white;
}

@media screen and (max-width: 1200px) {
    .container-default {
        width: 90%;
    }
}

/* Loading icon */

.loading-icon-container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.loading-icon {
    width: 45px;
    height: 45px;
    border: 3px solid orange;
    border-left: 3px solid transparent;
    border-radius: 100%;

    animation: loading-icon 1s linear infinite;
}

@keyframes loading-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* - Auth - */

.auth-hero {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    margin: auto;
    font-size: 1.3rem;
    background-color: #212529;
    color: white;
    padding: 10px 40px 40px 40px;
    border-radius: 15px;
}

.auth-form div h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 8px;
}

.auth-form div {
    margin-top: 30px;
    text-align: center;
}

.auth-form div .form-control {
    font-size: 1.3rem;
}

.auth-form .submit-btn {
    font-size: 1.3rem;
    margin: 15px auto 5px auto;
    padding: 10px 50px;
    color: white;

    transition: background-color 0.5s;
}

/* Button */

.btn-default {
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 10px 35px;
    color: white;
    border: none !important;
}

.btn-default:hover {
    filter: brightness(0.9);
}

.btn-submit-default {
    background-color: teal;
}

.btn-submit-saving {
    color: black;
    background-color: lightskyblue !important;
}

/* Tabs */

.order-list-by {
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid white;
    overflow:hidden;
}

.order-list-by .btn-order-by {
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px 15px;

    transition: all 0.25s;
}

.order-list-by .btn-order-by-active {
    background-color: #d15d57;
    color: white;
}

.order-list-by .btn-order-by:hover {
    background-color: #DCD6F7;
    color: black;
}

/* Misc */

.results-counter {
    color: #16C172;
    margin-top: 25px;
    font-weight: bold;
}