@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Global styles */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Poppins",  sans-serif;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

a:not(.navbar-brand):hover {
    color: orange;
    border-bottom: 1px solid orange;
}

nav {
    padding-left: 5px;
    padding-right: 20px;
    font-size: 20px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

input, textarea {
    display: block;
}

h1, h2, h3, h4, p, div {
    text-align: center;
}

button {
    border: none !important;
}

/* -- Common -- */

/* - Auth - */

.auth-hero {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    margin: auto;
    font-size: 1.3rem;
    background-color: #212529;
    color: white;
    padding: 10px 40px 40px 40px;
    border-radius: 15px;
}

.auth-form div h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 8px;
}

.auth-form div {
    margin-top: 30px;
    text-align: center;
}

.auth-form div .form-control {
    font-size: 1.3rem;
}

.auth-form .submit-btn {
    font-size: 1.3rem;
    margin: 15px auto 5px auto;
    padding: 10px 50px;
    color: white;

    transition: background-color 0.5s;
}



/* Summary list */

.summary-hero {
    margin: 10px 25px;
}

/* Summary item */

.summary-list-item {
    font-size: 20px;
    background-color: beige;
    padding: 5px 10px;
    margin: 10px 0;
}

.summary-list-item-arrow {
    font-weight: 400;
    margin-right: 10px;
}

.summary-list-item p {
    margin: 0;
    padding: 5px 0;
}

.summary-list-item .summary-list-item-body {
    text-align: justify;
    padding: 0 30px;
    text-indent: 1%;
    white-space: pre-line;
}

.summary-list-item-remove-btn {
    margin-left: 10px;
    color: beige;
}

.summary-list-item:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

.summary-list-item:hover > p > .summary-list-item-remove-btn {
    color: crimson;
}

/* Video */

.summary-form {
    width: 85%;
    margin: 40px auto;
    font-size: 20px;
}

.summary-form h3 {
    text-align: center;
}

.summary-form input, .summary-form textarea, .summary-form button {
    font-size: 18px;
}