@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

a:not(.navbar-brand):hover {
    color: orange;
    border-bottom: 1px solid orange;
}

nav {
    padding-left: 5px;
    padding-right: 20px;
}

/* Channel list */

.channels-hero {
    margin: 10px 25px;
}

.channel-list {
    margin-top: 30px;
    display: flex;
    /* background-color: darkcyan; */
}

/* Channel item */

.channel-list-item {
    text-transform: uppercase;
    font-size: 20px;
    background-color: bisque;
    padding: 5px 10px;
    font-weight: 600;
    margin: 0 15px;
}

.channel-list-item:hover {
    color: white;
    background-color: rgb(64, 204, 162);
    cursor: pointer;
}

.channel-list-item-remove-btn {
    font-weight: 100;
    /*color: crimson;*/
    color: bisque;
    margin-left: 5px;
}

.channel-list-item:hover > .channel-list-item-remove-btn {
    color: crimson;
}

/* Summary list */

.summary-hero {
    margin: 10px 25px;
}

/* Summary item */

.summary-list-item {
    font-size: 20px;
    background-color: beige;
    padding: 5px 10px;
    margin: 10px 0;
}

.summary-list-item-arrow {
    font-weight: 400;
    margin-right: 10px;
}

.summary-list-item p {
    margin: 0;
    padding: 5px 0;
}

.summary-list-item .summary-list-item-body {
    text-align: justify;
    padding: 0 30px;
    text-indent: 1%;
    white-space: pre-line;
}

.summary-list-item-remove-btn {
    margin-left: 10px;
    color: beige;
}

.summary-list-item:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

.summary-list-item:hover > p > .summary-list-item-remove-btn {
    color: crimson;
}

/* Video */

.summary-form {
    width: 85%;
    margin: 40px auto;
    font-size: 20px;
}

.summary-form h3 {
    text-align: center;
}

.summary-form input, .summary-form textarea, .summary-form button {
    font-size: 18px;
}